<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page | LinkedIn</title>
  </head>
  <body id="home">

  <%- include('partials/navbar.ejs', {photo:user.photo, id:user.id}) %>

  <main class="position-relative pt-3 pt-lg-4">
    <div class="container">
      <div class="row d-flex justify-content-start">


        <div class="col-lg-3 d-flex justify-content-center">
          <div class="">


              <div class="mb-2" style="width:15em;">
                <div class="card">

                  <div class="p-3 d-flex justify-content-center">
		  	<img id="currentUserPhoto" class="main-profile-photo" src="/img/<%=user.photo%>">
                  </div>

                  <div class="card-body d-flex flex-column align-items-center">
		  	<h5 id="currentUserName" class="card-title fw-bold"><%=user.name%></h5>
			<p id="currentUserJob" class="small card-text m-0"><%=currentJob%></p>
                  </div>

                  <ul class="list-group d-none d-lg-block list-group-flush">
                  </ul>

                </div>
              </div>



              <div class="sticky-section d-none d-lg-block">
                <div class="card">
                  <div class="card-body d-flex justify-content-between align-items-center">
                    <h6 class="card-title m-0">Añadir a tu feed</h6>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-flex px-3 mb-3">
                      <div>
                        <a href="#" class="text-decoration-none links">
                          Grupos
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>










        <div class="col-12 col-lg-6 middle col-xl-6 row d-flex justify-content-center p-1 pt-0 m-0 pe-lg-4">
          <div class="max-width p-0">

            <div class="bg-white mt-1 px-3 py-2 start-a-post">
              <div class="d-flex align-items-center">
	      	<img class="me-3" id="middle-profile-photo" src="/img/<%=user.photo%>" alt="profile photo">

                <a id="createPost" style="border-radius:30px;cursor:pointer;" class="form-control p-2 ps-3 fw-bold">Crear publicacion</a>

              </div>

              
            </div>











	
	  <div class="fs-6 modal modal-lg fade" id="createPostModal" tabindex="-1" aria-hidden="true">
	  	<div class="modal-dialog">
	  		<div class="modal-content">
	  			<div class="modal-header">
	  				<h1 class="modal-title fs-5 fw-bold">Create a new post</h1>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	  			</div>
	  			<div class="modal-body">
	  				<section class="mb-4">
							<textarea maxlength="100" id="inputPost" class="form-control" name="" type="text" value="" placeholder="What do you want to talk about?"/></textarea>
						</section>
          </div>

					<div class="modal-footer">
        	  <button id="sendButton" type="button" class="btn btn-primary fw-bold">Post</button>
					</div>

				</div>
			</div>
		</div>























          <div id="posts">

		  <% posts.forEach((post) => { %>

		  	<div id="post-<=%post[0]%>" class="bg-white my-3 py-2 posts">
				<div class="px-3 my-d d-flex justify-content-between align-items-center">
					<div>
						<img class="me-2 post-profile-photo" src="/img/<%=post[8]%>">
						<a class="text-dark fw-bold" href="/profile?id=<%=post[2]%>"><%=post[3]%></a>
					</div>
					<small><%=post[5]%></small>
				</div>

				<div class="px-3 mt-3">
					<p class="post-content main-text">
						<%=post[4]%>
					</p>
				</div>

              			<div class="d-flex align-items-center border-bottom px-3 p-1 mb-2 justify-content-between">
              				<div class="d-flex align-items-center">
              					<p class="m-0 small-font-size">
							<span id="reactionsAmount"><%=post[6]%></span> Reacciones
              					</p>
              			  	</div>
              				<div class="d-flex justify-content-end text-center">
						<p class="m-0 small-font-size"><%=post[7]%> Comentarios</p>
              			  	</div>
              			</div>

				<script>

					let reaction = "<%=post[1]%>";

					if(reaction === "null") reaction = "Recomendar"
				</script>

				<% let reaction=post[1]; if(reaction===null) { reaction="Recomendar"; } %>

				<%- include('partials/postButtons.ejs', {reaction: reaction}); %>
			</div>

		  <% }); %>


          </div>

        </div>
      </div>






      <div class="col-3 d-none d-xl-block pe-3 p-0">





        <div class="mb-2">
          <div class="card" id="addToFeed">

            <div class="card-body d-flex justify-content-between align-items-center">
              <h6 class="fw-bold card-title m-0">Añadir a tu feed</h6>

            </div>

            <% notFollowed.forEach((user) => {%>
	      <div class="card-body pt-0">
	      	<div class="d-flex mb-3">
	      		<img class="suggestions-logo me-3" src="/img/<%=user[3]%>">
	      	    	<div>
	      			<a href="/profile?id=<%=user[0]%>" class="text-decoration-none">
	      		       		<span class="suggestions-name"><%=user[1]%></span>
	      			</a>
	      			<p class="mb-2 small"><%=user[2]%></p>
	      		</div>
	      	</div>
	      </div>
	    <% }); %>

          </div>
        </div>




     </div>











              </div>
          </div>
        </main>







    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/Comment.js"></script>
    <script src="/js/User.js"></script>
    <script src="/js/Action.js"></script>
    <script src="/js/Home.js"></script>
    <script src="/js/Post.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
